@model projekt.Models.FlightPassenger

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4 class="mt-1">Passenger to the Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label"></label>
                <select asp-for="PassengerId" class ="form-control" asp-items="ViewBag.PassengerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label"></label>
                <select asp-for="FlightId" class ="form-control" asp-items="ViewBag.FlightId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn1 mt-3" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
