@model projekt.Models.LinePlane

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lines's Plane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Model)
        </dd>
    </dl>
</div>
<div>
    <a class="btn1" asp-action="Edit" asp-route-id="@Model?.LinePlaneID">Edit</a> |
    <a class="btn1" asp-action="Index">Back to List</a>
</div>
