html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn1 {
    text-decoration: none;
    padding: 10px;
    background-color: lightgray;
    color: black;
    border-width: 0px;
    border-radius: 10px;
}

.btn2 {
    text-decoration: none;
    padding: 10px;
    background-color: red;
    color: black;
    border-width: 0px;
    border-radius: 10px;
}

btn_nav {
    color: lightgray;
}

a {
    color: white;
}

.table > :not(caption) > * > * {
    padding: 1rem 0.5rem;
}