html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn1 {
    height: 50px;
    width: 100px;
    background-color: lightgray;
    color: black;
    border-width: 0px;
    border-radius: 10px;
}

btn_nav {
    color: lightgray;
}

a {
    color: white;
}